
:root {
    --brand_style: #2196f3;
    --color_white: #FFFFFF;
    --color_grey: #757575;
    --color_black: #212121;
    --background_grey: #2F303A;
    --blue_button: #188CE8;
    --background_white: #F5F4Fa;
}

h1,h2,h3 {
    margin: 0px;
}


/* --Body-- */

body {
    font-family: 'Roboto', sans-serif;
    color: var(--color_grey);
    background-color: var(--color_white);
    letter-spacing: 0.03em;
    width: 1600px;
    height: 80px;
}

a {
    text-decoration: none;
}

ul {
    list-style-type: none;
    padding-inline-start: 0px;
}

.visually_hidden {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
}


.container {
    width: 1200px;
    outline: 2px solid red;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    
}


/* --Header-- */
.header {
    background-color: var(--color_white);
}

.main_nav{
    padding: 15px;

    display: flex;
    align-items: center;
    

    
}
.logohead {
font-family: 'Raleway';
    font-weight: 700;
    font-size: 26px;
    line-height: 1,20;
    color: var(--color_black);
    text-decoration: none;
    cursor: pointer;
    margin-right: 93px;
}

.logo_web {
    color: var(--brand_style);
    
}
.link_nav {
    margin-right: auto;
}

.link_nav  a {
 
    font-weight: 500;
    font-size: 14px;
    line-height: 1,15;
    letter-spacing: 0.02em;
    color: var(--color_black);
    cursor: pointer;
}

.link_nav_item {
    margin-right: 50px;
}
.link_nav_item:last-child {
    margin-right: 0px;
}



.contact-link {
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 1,15;
    letter-spacing: 0.02em;
    color: var(--color_grey);
    cursor: pointer;
    
}
.adrress_ul li {
padding-right: 50px;
}

.adrress_ul li:last-child {
    padding-right: 0px;
}


.link:hover,
.link:focus {
    color: var(--brand_style);
}

.contact-link:hover,
.contact-link:focus {
    color: var(--brand_style);
    
}

.link_nav .link.current {
    color: var(--brand_style);
}

/* MAIN*/

/* Section #1*/

.section_headline {
    background: var(--background_grey);
    text-align: center;
    display: flex;
    flex-direction: column;
    
    
}

.main_headline {
    font-weight: 900;
    font-size: 44px;
    line-height: 1,36;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: var(--color_white);
    padding: 200px 252px 30px 252px;

}

.container_btn {
    width: 1200px;
    outline: 2px solid red;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 200px;
    
}

.button_headline {
     
        font-weight: 700;
        font-size: 16px;
        line-height: 1,8;
        align-items: center;
        text-align: center;
        letter-spacing: 0.06em;
        color: var(--color_white);
        background-color: var(--brand_style);
        cursor: pointer;
        border: none;
        border-radius: 4px;

        padding: 10px 32px 10px 32px;
        margin-left: auto;
        margin-right: auto;


        
        
        
}

.button_headline:hover,
.button_headline:focus {
    color: var(--color_white);
    background: var(--blue_button);
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
        border-radius: 4px;
        border: none;
}




/* Section #2*/
.our_benefits h3 {
     
    font-weight: 700;
    font-size: 14px;
    line-height: 1,14;
    text-transform: uppercase;
    color: var(--color_black);
}
.our_benefits p {
    
        font-weight: 400;
        font-size: 14px;
        line-height: 1,7;
        /* or 171% */
        
        
}

.section_title,
.our_team {
         
        font-weight: 700;
        font-size: 36px;
        line-height: 1,16;
        text-align: center;
        color: var(--color_black);
}

.section_our_team {
    background-color: var(--background_white);
   
}

ul h3 {
     
        font-weight: 500;
        font-size: 16px;
        line-height: 1,18;
        text-align: center;
        color: var(--color_black);
}

.team_item p {
     
        font-weight: 400;
        font-size: 16px;
        line-height: 1,18;
        /* identical to box height */
        text-align: center;

        
}

.team_item li {
    background: var(--color_white);
}

/*--Portfolio--*/


.portfolio_buttons {
        font-family: inherit;
        font-weight: 500;
        font-size: 16px;
        line-height: 1,6;
        /* identical to box height, or 162% */
        text-align: center;
        cursor: pointer;
        background: var(--background_white);
        border-radius: 4px;
        border: none;
        
}

.portfolio_buttons:hover,
.portfolio_buttons:focus {
    color: var(--color_white);
    background: var(--brand_style);
        /* shadow-middle */
        box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
        border-radius: 4px;
}

.our_jobs h2 {
    
     
        font-weight: 700;
        font-size: 18px;
        line-height: 2;
        /* identical to box height, or 200% */
        letter-spacing: 0.06em;
        color: var(--color_black);
}

.our_jobs p {
     
        font-weight: 400;
        font-size: 16px;
        line-height: 1,;
        /* identical to box height, or 188% */

}
.our_jobs {
    background-color: var(--color_white);
}

/* --Footer--*/

.footer_main,
.footer_link {
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 1,7;
        /* or 171% */
        background-color: var(--background_grey);
        color: var(--color_white);
}

.footer_link:hover,
.footer_link:focus {
    color: var(--brand_style);
}

.footer_logo {
    font-family: 'Raleway';
        font-weight: 700;
        font-size: 26px;
        line-height: 1,20;
        /* identical to box height */
        color: var(--color_white);
}

.footer_web {
    color: var(--brand_style);
}

